<div data-hook="admin_image_form_fields">
  <div class="four columns alpha">
    <div data-hook="file" class="field">
      <%= f.label :paper %><br>
      <%= f.text_field :paper %>
    </div>
    <div data-hook="variant" class="field">
     <%= f.label :cost %><br>
      <%= f.text_field :cost %>
    </div>
  </div>
  
</div>

<div class="clear"></div>
