
<% @color_variants=@product.variants.select { |v| v.option_values.include? Spree::OptionValue.find_by_name(color.name) }%>
           
           <ul>
             <%@color_variants.each do |cv|%>
          
             <%cv.option_values.select{ |b| b.option_type.id == 4}.each do |cvo|%>

            <li>
            
            <%=check_box_tag "variant[]",cv.id , false%> 
            
            <%=cvo.name%>
            <%=cv.price%>
            <%= number_field_tag "quantity[]", 0, :class => 'title',disabled: true %>
            </li>
            
             <%end%>
            
             <%end%>
<script type="text/javascript">
      $(document).ready(function(){
           $("input[type=checkbox]").click(function () {
          
            if ($(this).is(":checked")) {
                $(this).next().removeAttr("disabled");
               $(this).next().focus();
            } else {
               $(this).next().attr("disabled", "disabled");
            }
        });
    });

</script>
